<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/css/style.css">
  <title>Admin GFA</title>
</head>
<body>
  <h1><strong>Display GPAs Greater than or Equal to</strong></h1>

    <form action="/grade" method="POST">
      <div class="row">
        <label for="grade"><strong>GPA: </strong></label>
        <input type="text" name="grade" id="grade">
      </div>
      
      <input type="submit" value="Submit Request">
    </form>


  <hr>
  <a href="/">HOME</a>
</body>
</html>
