<!DOCTYPE html>
<html>
<head>
  <title>Summer Camp</title>
  <link rel='stylesheet' href='/css/style.css' />
</head>

<body>
  <h1><strong>Welcome to Terps Summer Camp</strong></h1>

  <h2><strong>Applicant</strong></h2>

  <ul>
    <li>To apply select <a href="/index">Application</a></li>
    <li>To review/update an application select <a href="/review">Review Application</a></li>
  </ul>
  
  <hr>

  <h2>Admin</h2>

  <ul>
    <li>To select users based on gpa <a href="/grade">Select by GPA</a></li>
    <li>To remove all applications <a href="/remove">Remove All Applications</a></li>
  </ul>

  <hr>
</body>

</html>