<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/css/style.css">
  <title>Application</title>
</head>
<body>
  <h1><strong>Review Application</strong></h1>

    <form action="/reviewResult" method="POST">
      <div id="div-form">
        <div class="row">
          <label for="address"><strong>Email Address: </strong></label>
          <input type="text" name="address" id="address">
        </div>
      </div>

      <input type="reset" value="Reset">
      <input type="submit" value="Submit Application">
    </form>


  <hr>
  <a href="/">HOME</a>
</body>
</html>
