body {

	font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  }
  
  a {
	color: #001eff;
  }
  
  #div-form{
	border: 1px solid black;
	padding: 15px 15px 15px 15px;
	margin-bottom: 20px;
  }
  
  .row {
	padding-top: 10px;
	padding-bottom: 10px;
  }